.photoUpload {
    display: flex;
    align-items: start;
    gap: 16px;

    &__button {
        min-width: 140px;
    }

    &__preview {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 8px;
        border: 1px solid #e5e5e5;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
    }
}